annotated_types==0.7.0+computecanada
antlr4_python3_runtime==4.9.3+computecanada
attrs==25.3.0+computecanada
certifi==2025.1.31+computecanada
cffi==1.17.1+computecanada
charset_normalizer==3.4.1+computecanada
click==8.1.8+computecanada
cloudpickle==3.1.1+computecanada
colorlog==6.9.0+computecanada
contourpy==1.3.1+computecanada
cycler==0.12.1+computecanada
Cython==3.0.12
diffq==0.2.4
docker-pycreds==0.4.0+computecanada
Dora==0.0.3
dora_search @ git+https://github.com/facebookresearch/dora.git@8e5d905e902ca4d8fff0883bef2a6d374fe3c1ff
einops==0.8.1+computecanada
ffmpeg_python==0.2.0+computecanada
filelock==3.18.0+computecanada
flake8==7.1.2
fonttools==4.56.0
fsspec==2025.3.0+computecanada
future==1.0.0+computecanada
gitdb==4.0.12+computecanada
GitPython==3.1.44+computecanada
hydra_colorlog==1.2.0+computecanada
hydra_core==1.3.2+computecanada
idna==3.10+computecanada
jinja2==3.1.6+computecanada
joblib==1.4.2+computecanada
jsonschema==4.23.0+computecanada
jsonschema_specifications==2024.10.1+computecanada
julius==0.2.7+computecanada
kiwisolver==1.4.8+computecanada
lameenc==1.7.0+computecanada
MarkupSafe==2.1.5+computecanada
matplotlib==3.10.0+computecanada
mccabe==0.7.0+computecanada
mpmath==1.3.0+computecanada
musdb==0.4.2
museval==0.4.1
mypy==1.15.0
mypy_extensions==1.0.0+computecanada
networkx==3.4.2+computecanada
numpy==1.26.4+computecanada
omegaconf==2.3.0+computecanada
openunmix==1.3.0+computecanada
packaging==24.2+computecanada
pandas==2.2.3+computecanada
pillow==11.1.0+computecanada
platformdirs==4.3.7
protobuf==5.29.4
psutil==6.1.1+computecanada
pyaml==25.1.0
pycodestyle==2.12.1
pycparser==2.22+computecanada
pydantic==2.10.6+computecanada
pydantic_core==2.27.2+computecanada
pyflakes==3.2.0+computecanada
pyparsing==3.2.1+computecanada
python_dateutil==2.9.0.post0+computecanada
pytz==2025.1+computecanada
PyYAML==6.0.2+computecanada
referencing==0.36.2+computecanada
requests==2.32.3+computecanada
retrying==1.3.4+computecanada
rpds_py==0.20.0+computecanada
scikit_learn==1.5.2+computecanada
scipy==1.15.1+computecanada
sentry-sdk==2.23.1
setproctitle==1.3.4+computecanada
simplejson==3.20.1
six==1.17.0+computecanada
sklearn==0.0+computecanada
smmap==5.0.2+computecanada
soundfile==0.13.1
stempeg==0.2.3
submitit==1.5.2+computecanada
sympy==1.13.1+computecanada
threadpoolctl==3.6.0+computecanada
tomli==2.2.1+computecanada
torch==2.1.2+computecanada
torchaudio==2.1.1+computecanada
tqdm==4.67.1+computecanada
treetable==0.2.5
typing_extensions==4.12.2+computecanada
tzdata==2025.1+computecanada
urllib3==2.3.0+computecanada
wandb==0.19.6+computecanada
