# Python version (handled separately when creating the venv)
#python>=3.8,<3.10

# Conda dependencies handled by pip equivalents
#ffmpeg>=4.2
torch
torchaudio
tqdm>=4.36

# Pip dependencies
diffq>=0.2
dora-search
einops
hydra-colorlog>=1.1
hydra-core>=1.1
julius>=0.2.3
#lameenc>=1.2
openunmix
musdb>=0.4.0
museval>=0.4.0
soundfile
submitit
treetable>=0.2.3
